page-content {
  .total {
    font-weight: bold;
    color: color($colors, primary);
  }

  .base {
    color: color($colors, danger);
  }

  .desgr {
    font-weight: bold;
    color: color($colors, secondary);
  }
  .iva, .fecha {
    font-style: italic;
    font-size: 75%;
    color: color($colors, dark);
  }
}
